<h1>Welcome to {{title}}</h1>

<div name="haruki-murakami">
  <ul *ngFor="let book of haruki">
    <li (click)="showDescription(book.title)">{{book.title}}</li>
  </ul>
</div>

<form name="details" *ngIf="selectedBook">
  <label>Description: </label><br/>
  <input name="description" type="text" value="{{selectedBook.description}}">
</form>


<!--<div name="details" *ngIf="selectedBook">-->
<!--  <input name="description" type="text" value="{{selectedBook.description}}">-->
<!--</div>-->


<!--<div name="haruki-murakami">-->
<!--  <ul *ngFor="let book of haruki">-->
<!--    <li (click)="showDescription(book.title)">{{book.title}}</li>-->
<!--  </ul>-->
<!--</div>-->

<!--&lt;!&ndash;<div name="details" *ngIf="selectedBook">&ndash;&gt;-->
<!--&lt;!&ndash;  <input name="description" type="text" value="{{selectedBook.description}}">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<form name="details" *ngIf="selectedBook">-->
<!--  <p>{{selectedBook.description}} </p>-->
<!--  <button type="submit">Submit</button>-->
<!--</form>-->


